.zig-cache-global/
.zig-cache-local/
__pycache__/
dist/
test-bin/
/tinysocks
tinysocks.exe
tinysocks.pdb
tinysocks-test
tinysocks-test.exe
tinysocks-test.pdb
tinysocks-fault-test
tinysocks-fault-test.exe
tinysocks-fault-test.pdb
tinysocks-mips
tinysocks-mipsel
